 body {
    font-family: monospace;
    color: lime;
    background-color: #222;
  }

  #title {
    font-size: 15pt;
    float:left;
    display: flex;
    align-items: baseline;
    margin-left: 30px;
  }

  #cursor {
    background: lime;
    margin-left: 3px;
    -webkit-animation: blink 0.8s infinite;
    width: 8px;
    height: 15px;
  }
  
  @-webkit-keyframes blink {
    0% {background: #222}
    50% {background: lime}
    100% {background: #222}
  }
  
  
  .topnav {
    overflow: hidden;
  }
  
  .topnav a {
    font-size: 15pt;
    float:right;
    display: flex;
    margin-right: 30px;
    margin-top: 20px;
    text-decoration: none;
  }

  .topnav a:hover {
    color: black;
    -webkit-animation: blink 0.8s infinite;
  }
  
  .content {
    margin: 50px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding-left: 20px; 
  }

  .content header {
    
  }
  
  .footer {
   text-align: center;
  }